DATABASE_URL=postgres://postgres:postgres@localhost:5434/celeris
APP_PORT=9000
APP_HOST=0.0.0.0
APP_SECRET=asdfasdf
APP_KAFKA_SERVER=localhost:9092

TEST_DATABASE_URL=postgres://postgres:postgres@localhost:5435/celeris
TEST_APP_PORT=9001
TEST_APP_HOST=0.0.0.0
TEST_APP_SECRET=asdfasdf

SMTP_HOST=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_PORT=
